<div mat-dialog-title>
    <h1>Employee Form</h1>
</div>
<form [formGroup]="EmpForm" (ngSubmit)="onFormSubmit()">
<div mat-dialog-contant class="content">
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="Ex.Technical" formControlName="firstName">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Ex.ramdev baba"  formControlName="lastName">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="Ex.Test@gmail.com"  formControlName="email">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dob">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
    </div>
    <div class="row">
        <mat-radio-group aria-label="Select an option" formControlName="gender">
            <!-- <lable><b>Gender:</b></lable> -->
            <label for="Gender"><b>Gender:</b></label>
            <mat-radio-button value="Male">Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
            <mat-radio-button value="Others">Others</mat-radio-button>
          </mat-radio-group>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Education Qualification</mat-label>
            <mat-select formControlName="education">
              <mat-option *ngFor="let val of education" [value]="val">{{val}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Company Name</mat-label>
            <input matInput placeholder="Ex.google" formControlName="company">
          </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="outline">
            <mat-label>Experience</mat-label>
            <input matInput placeholder="Ex.2.2" type="number" formControlName="experience">
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Packege</mat-label>
            <input matInput placeholder="Ex.8.6" type="number" formControlName="package">
            <mat-hint> In Rupees</mat-hint>
          </mat-form-field>
    </div>
</div>
<div mat-dialog-actions class="action">
    <button mat-raised-button type="button" mat-dialog-close="fales">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update':'Save'}}</button>
</div>
</form>
